@tailwind base;

:root {
  --color-primary-1: 116 105 182;
  --color-primary-2: 141 132 195;
  --color-secondary: 240 240 240;
  --color-neutral: 12 12 12;
  --color-gradient-1: #beadfa;
  --color-gradient-2: #93c5fd;
  --color-gradient-3: #f0abfc;
}

:root.dark {
  --color-primary-1: 132 120 190;
  --color-primary-2: 178 169 213;
  --color-secondary: 37 34 35;
  --color-neutral: 240 240 240;
  --color-gradient-1: #474259;
  --color-gradient-2: #3a495a;
  --color-gradient-3: #56415a;
}

body {
  color: rgb(var(--color-neutral));
  background: rgb(var(--color-secondary));
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  transition-property: color, background-color, border-color,
    text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

@tailwind components;
@tailwind utilities;

@layer base {
  h2 {
    @apply capitalize font-bold text-primary text-2xl md:text-3xl lg:text-4xl;
  }
  h3,
  h4 {
    @apply text-primary-2 capitalize font-semibold text-2xl md:text-3xl lg:text-4xl;
  }
}

@layer components {
  .content {
    @apply px-4 pb-8 flex flex-col gap-large md:pb-16;
  }
  .fix-btn {
    @apply size-8 right-4 z-[9999];
  }
  .chip {
    @apply py-1 px-3 rounded-3xl bg-primary-1 capitalize;
  }
  .chip-red {
    @apply bg-red text-neutral;
  }
  .chip-yellow {
    @apply bg-amber text-neutral;
  }
  .chip-blue {
    @apply bg-blue text-neutral;
  }

  a:hover .chip {
    @apply bg-secondary text-primary-1;
    &.chip-red {
      @apply text-red;
    }
    &.chip-yellow {
      @apply text-amber;
    }
    &.chip-blue {
      @apply text-blue;
    }
  }
}

@layer utilities {
  .h-break {
    @apply flex flex-row items-center gap-1 after:content-[''] after:h-1 after:flex-1 after:bg-primary;
  }
  .blob {
    @apply filter blur-lg -z-20;
  }
  .border-bot {
    @apply border-b-2 border-primary-2/10;
  }

  .flex-res {
    @apply flex flex-col md:flex-row;
  }
  .grid-base {
    @apply grid grid-cols-[repeat(16,minmax(0,1fr))] grid-rows-9;
  }
  .gap-large {
    @apply gap-8 md:gap-16;
  }
  .gap-small {
    @apply gap-4 md:gap-8;
  }
  .content-ctrl {
    @apply flex flex-col gap-small p-4;
  }
  .content-ctrl-t-0 {
    @apply flex flex-col gap-small px-4 pb-4;
  }
  .content-ctrl-x {
    @apply flex flex-col gap-small px-4;
  }
}
